.save,
.cancel {
  width:75%;
  @extend %center;
  margin-bottom: .5em;
  height: 4em;
  border-radius: 5px;
  display: block;
  background-color: $light-grey;
  color: $white;
  border: none;
  @include mq(medium){
    width:48%;
    margin-bottom: 0;

}
}

.save {
  background-color:  $main-color;
  @include mq(medium){
    margin-left: 0;
    float: left;
  }
}

.cancel {
  @include mq(medium){
    margin-right: 0;
    float: right;
  }
}

.send {
  width:75%;
  @extend %center;
  height: 4em;
  border-radius: 5px;
  background-color:  $main-color;
  color: $white;

}


button:hover {
  cursor: pointer;
}

.settings {
  @include mq(medium){
    padding: 1em;
    margin: 0 auto;
    width: 90%;
 }
}
.settings-switch {
  @include flexy(flex, row);
  justify-content: space-between;
  @extend %center;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 75%;
  & > p {
    margin: 0;
  }
  @include mq(medium){
    width: 100%;

   }
  }

/* The switch - the box around the slider */
.switch {

  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:  $main-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px  $main-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(26px);
  transform: translateX(60px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  width: 6em;
}

.slider.round:before {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px;
}

label.switch {
  width: 5em;
}


/*------ ADDED CSS ---------*/
.slider:after {
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 65%;

}

input:checked + .slider:after {
  content:'ON';
  top: 50%;
  left: 40%;

}
