.dashboard {
  &--search {
    width: 100%;
    background-color: $dash-background;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

  }
}

#search {
  float: right;
  @extend %center;
  height: 4em;
  width: 75%;
  border-radius: 5px;
  border: 1px solid $light-grey;
  position: relative;
  @include mq(medium){
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1em;
    width: 30vw;
}}

.search {
  display: flex;
  margin: .5em 0 .5em 0;
  position: relative;
  @include mq(medium){
    margin: 0;
  }
}

input[placeholder] {
  padding-left: 10px;
}

.spyglass {
position: absolute;
right: 14%;
top: 27%;
  @include mq(medium){
    right: 2.5%;
    top: 39%;
}
}

.search-user {
  padding: 1em;
  width: 100%;
  @extend %center;
  @include mq(medium){
    width: 80%;
}
}

#search-user {
  width: 100%;
  border-radius: 5px;
  border: 1px solid $light-grey;
  background-color: #f9f9f9;
}

.message-user {
  padding: 0 1em 1em 1em;
  width: 100%;
  @extend %center;
  @include mq(medium){
    width: 80%;

}
}

#message-user {
  width: 100%;
  height: 6em;
  border-radius: 5px;
  border: 1px solid $light-grey;
  background-color: #f9f9f9;

}


.search-user > input,
textarea {
  resize: none;
  padding: 1em;
}

.select-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.timezones {
  height: 4em;
  width: 75%;
  margin-bottom: 2.5em;
  @include mq(medium){
    width: 100%;
    margin-left: 0;
    margin-top: 1.3em;
}
}
