

.title-one {
  font-weight: $font-weight--medium;
}

.title-two {
  font-weight: $font-weight--thin;
}

.nav-container {
  @include flexy(flex, row);
  justify-content: space-between;
  align-items: center;
  background-color: $header-color;
  color: $white;
  height: 4em;
}

.nav__heading {
  font-family: $helvetica-font-stack;
  margin: 1em;
}

.nav__list {
  padding-right: 1em;
  @include flexy(flex, row);
  align-items: center;
  & > li {
    font-size: 1em;
  }
}

.nav__item {
  font-weight: $font-weight--thin;
}

.bell {
  margin-right: 2em;
  padding-right: 1em;
  border-right: 1px solid $black;
}

.notification {
  background-color: $notification-color;
  width: 3px;
  height: 3px;
  padding: 4px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 14px;
  right: 202px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: .5em;
}

.name {
  font-family: $helvetica-font-stack;
  font-weight: $font-weight--thin;
  letter-spacing: 1.2px;
}

.sidebar {
  background-color: #5A4176;
  display: flex;
  flex-direction: row;
  padding: 1em;
  height: 3.5em;
  justify-content: space-evenly;

  @include mq(medium){
    background-color: $sidebar-color;
    @include flexy(flex, column);
    justify-content: flex-start;
    width: 4em;
    height: 100vh;
    align-items: center;
    position: absolute;
      & > :nth-child(1n) {
        margin: 1em;
    }
}
}
main {
  @include mq(medium){
    margin-left: 64px;
 }
}
.dashboard {
  max-width: 100%;
  font-weight: $font-weight--medium;
  background-color: $white;
  @extend %main-font;
  @include flexy(flex, row);
  justify-content: space-between;
  margin-bottom: 1em;
    &--tab {
      color: $dashboard-font;
      background-color: $white;
      margin: .5em;
      max-width: 5em;

    }
    &--search {
      width: 100%;
      background-color: $dash-background;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;

 }
}

#search {
  float: right;
  margin-top: 1.5em;
  margin-right: 1em;
  height: 3em;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid $light-grey;
}

input[placeholder] {
  padding-left: 10px;
  @extend %main-font;
}

.spyglass {
  position: absolute;
  right: 1em;
  top: 9em;
    @include mq(medium){
    right: 1.5em;
    top: 5.5em;
}
}
.alert {
  @extend %main-font;
  @extend %center;
  @include flexy(flex, row);
  justify-content: space-between;
  color: $white;
  font-weight: $font-weight--thin;
  width: 90%;
  border-radius: 5px;
  background-color: $main-color;
  padding: .5em;

    &__close {
      padding: 5px;
      &:hover {
        cursor: pointer;
      }
  }
}

.chart-top {
  @include flexy(flex, row);
}

.weekly-chart {
  margin-top: 3em;
  @extend %center;
  width: 90%;
  height: 1em;
}

.traffic {
  @extend %main-font;
  font-weight: $font-weight--medium;
  color: $light-grey;
}

.chart-nav {
  width: 95%;
  @extend %main-font;
  font-weight: $font-weight--medium;
  @include flexy(flex, row);
  justify-content: flex-end;
    & li {
      padding: 10px;
      margin-left: 5px;
      &:hover {
        cursor: pointer;
        background-color: $nav-highlight;
        color: $white;
        border-radius: 15px;
      }
    }
}
