.title-one {
  font-weight: $font-weight--medium;
}

.title-two {
  font-weight: $font-weight--thin;
}

.header {
  @include flexy(flex, row);
  justify-content: space-between;
  align-items: center;
  background-color: $header-color;
  color: $white;
  height: 4em;
  position: relative;
  z-index: 50;
}

.header__main {
  font-family: $helvetica-font-stack;
  margin: 1em;
}

.header__list {
  padding-right: 1em;
  @include flexy(flex, row);
  align-items: center;
  & > li {
    font-size: 1em;
  }
}

.nav__item {
  font-weight: $font-weight--thin;
}

.bell {
  margin-right: 2em;
  padding-right: 1em;
  border-right: 1px solid $black;
  &:hover {
    cursor: pointer;
  }
}

.notification {
  background-color: $notification-color;
  width: 3px;
  height: 3px;
  padding: 4px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 14px;
  right: 202px;
    &:hover {
      cursor: pointer;
    }
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: .5em;
}

.name {
  font-family: $helvetica-font-stack;
  font-weight: $font-weight--thin;
  letter-spacing: 1.2px;
}

.sidebar {
  background-color: #5A4176;
  padding: 1em;
  height: 3.5em;
  @include flexy(flex,row);
  align-items: center;
  width: 100%;
  justify-content: space-around;
    @include mq(medium){
      background-color: $sidebar-color;
      @include flexy(flex, column);
      justify-content: flex-start;
      width: 4em;
      height: 100%;
      align-items: center;
      position: fixed;
      top: 0;
      padding-top: 4em;
      z-index: 0;
  }
  &--icon:hover {
    cursor: pointer;
    padding-left: 5px;
    border-left: 2px solid $notification-color;
    transform: scale(1.5);
    }
  & > nav {
    @include flexy(flex,row);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
      @include mq(medium){
        @include flexy(flex,column);
        margin: 0;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        }
      & > ul {
      @include flexy(flex,row);
      width: 100%;
      padding: 0;
      justify-content: space-around;
      align-items: center;
        @include mq(medium){
          height: 35%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start space-between;
          align-items: center;
          padding: 0;
    }
  }
 }
}//end  of sidebar class


main {
  @include mq(medium){
    margin-left: 64px;
 }
}
.dashboard {
  max-width: 100%;
  font-weight: $font-weight--medium;
  background-color: $white;
  @extend %main-font;
  @include flexy(flex, row);
  justify-content: space-between;
  margin-bottom: 1em;
    &--tab {
      color: $dashboard-font;
      background-color: $white;
      margin: .5em;
      max-width: 5em;

    }
    &--search {
      width: 100%;
      background-color: $dash-background;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;

 }
}

#search {
  float: right;
  margin-top: 1.5em;
  margin-right: 1em;
  height: 3em;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid $light-grey;
}

input[placeholder] {
  padding-left: 10px;
  @extend %main-font;
}

.spyglass {
  position: absolute;
  right: 1em;
  top: 9em;
    @include mq(medium){
    right: 1.5em;
    top: 5.7em;
}
}
.alert {
  @extend %main-font;
  @extend %center;
  @include flexy(flex, row);
  justify-content: space-between;
  color: $white;
  font-weight: $font-weight--thin;
  width: 90%;
  border-radius: 5px;
  background-color: $main-color;
  padding: .5em;
  &--bell {
    background-color: #69D36E;
    width: 6em;
    height: 3em;
    position: absolute;
    right: 15em;
      & > p {
        background-color: inherit;
        font-size: 12px;
        margin: auto;
        letter-spacing:.75px;
        &:hover {
          cursor: pointer;
        }
      }
  }
  &--notification {
    background-color: #69D36E;
    display: flex;
    flex-direction: row;
    width: 19em;
    height: 3em;
    z-index: 100;
    position: absolute;
    top: 7px;
    right: 15em;
    align-items: center;
      & > p {
        margin: 0;
      }
    }
  &--invalid,
  &--success,
  &--empty {
    position: fixed;
    bottom: 50%;
    height: 10em;
    width: 75%;
    margin: 0 auto;
    & > p {
      font-size: 2em;
      text-align: center;
  }
}
    &__close {
      padding: 5px;
      &:hover {
        cursor: pointer;
      }
  }



}

.chart-top {
  @include flexy(flex, row);
}

.line-chart {
  margin-top: 3em;
  @extend %center;
  width: 90%;
  padding-bottom: 2em;
}

.heading {
  @extend %main-font;
  font-weight: $font-weight--medium;
  color: $light-grey;
  margin: 1em 0 0 0;
  &--social{
    margin-left: 2em;
    margin-bottom: 5px;
  }
  &--members {
    margin-left: 1em;
  }
}

.chart-nav {
  width: 95%;
  @extend %main-font;
  font-weight: $font-weight--medium;
  @include flexy(flex, row);
  justify-content: flex-end;
  & > :nth-child(3n){
    background-color: $nav-highlight;
    color: $white;
    border-radius: 15px;
  }
    & li {
      padding: 10px;
      margin-left: 5px;
      &:hover {
        cursor: pointer;
        background-color: $nav-highlight;
        color: $white;
        border-radius: 15px;
      }
    }
}


.chart-row {
  @extend %center;
  @include flexy(flex, row);
  border-top: 1px solid $light-grey;
  width: 90%;
  border-bottom: 1px solid $light-grey;

}

.bar-chart {
  width: 50%;
  @extend %center;
  border-right: 1px solid $light-grey;
}

.doughnut-chart {
  padding-left: 1em;
  width: 50%;

}

.chartjsLegend li span {
    right: 3em;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}

.chartjsLegend li {
  @include flexy(flex, row);
  @extend %main-font;
  font-weight: $font-weight--medium;
}
.chartjsLegend > ul {
  @include flexy(flex, row);
  justify-content: space-between;
}

.widgets {
  @include flexy(flex, row);
  justify-content: space-around;
  width: 90%;
  @extend %center;
  padding-bottom: 2em;
  border-bottom: 1px solid $light-grey;
}

.icon {

  background-color: $header-color;
  padding: 1em;
  margin: 1em;
  border-radius: 50%;
  border: 1px solid $light-grey;
}

.box {
  border: 1px solid $light-grey;
  padding: 2em;
  width: 30%;
  background-color: #f9f9f9;
  @include flexy(flex, row);
  justify-content: space-around;

}

.social {
  @extend %main-font;
  font-weight: $font-weight--medium;
  color: $header-color;
  margin: 0;
}

.widget--content {
  @include flexy(flex, column);
  align-self: center;
}

.stats {
  @extend %main-font;
  font-weight: $font-weight--thin;
  color: $light-grey;
  font-size: 2em;
  margin: 0;

}

// #doughnutChart {
//   transform: rotate(90deg);
// }

.members,
.widget {
  // @include flexy(flex, row);
  width: 50%;
}
.new-members,
.user {
  width: 100%;
  @extend %main-font;
  @include flexy(flex, column);

}

.user {
  padding: 1em;
}

.recent-activity {
  height: 20em;
  width: 100%;
  @extend %main-font;

}

.member-row,
.widget-row {
  @include flexy(flex, row);
  width: 90%;
  @extend %center;
  & > :first-child {
    border-right: 1px solid $light-grey;
  }
}

.member {
  @include flexy(flex, row);
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid $light-grey;
  &--info {
    @include flexy(flex, column);
    align-items: left;
    border-bottom: none;
    padding: 0;
    margin-right: auto;
  }
  &--img {
    border-bottom: none;
  }
  &--email{
    color: $main-color;
  }
  & > img {
    border-radius: 50%;
  }
  // & > :nth-child(1n):first-line {
  //     text-transform: capitalize;
  // }
  & > p {
    margin: 0;
    font-size: 12px;
    &.date {
      margin-left:auto
    }

  }
}

.search-user {
  padding: 1em;
  width: 80%;
  @extend %center;
}

#search-user {
  width: 100%;
  border-radius: 5px;
  border: 1px solid $light-grey;
  background-color: #f9f9f9;
  font-size: 1.2em;
}

.message-user {
  padding: 0 1em 1em 1em;
  width: 80%;
  @extend %center;
}

#message-user {
  width: 100%;
  height: 6em;
  border-radius: 5px;
  border: 1px solid $light-grey;
  background-color: #f9f9f9;
  @extend %main-font;

}

.send {
  width:75%;
  @extend %center;
  height: 4em;
  border-radius: 5px;
  background-color: $header-color;
  color: $white;
  @extend %main-font;
  font-weight: $font-weight--bold;
  letter-spacing: 1px;

}

.search-user > input,
textarea {
  font-size: 1.2em;
  padding: 1em;
  @extend %main-font;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 12px;
}



button:hover {
  cursor: pointer;
}

.settings {
  padding: 1em;
  @extend %center;
  width: 90%;
  @extend %main-font;
}
.settings-switch {
  @include flexy(flex, row);
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 2em;
  & > p {
    margin: 0;
    @extend %main-font;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $header-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $header-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(26px);
  transform: translateX(60px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  width: 6em;
}

.slider.round:before {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px;
}

label.switch {
  width: 5em;
}


/*------ ADDED CSS ---------*/
.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 65%;
 font-size: 12px;
 font-family: $helvetica-font-stack;
}

input:checked + .slider:after {
  content:'ON';
  top: 50%;
  left: 40%;
  font-family: $helvetica-font-stack;
}

.timezones {
  height: 4em;
  width: 100%;
  margin-bottom: 1.5em;

}

.save {
  width:48%;
  @extend %center;
  height: 4em;
  border-radius: 5px;
  background-color: $header-color;
  color: $white;
  @extend %main-font;
  font-weight: $font-weight--bold;
  letter-spacing: 1px;
  float: left;

}

.cancel {
  width:48%;
  @extend %center;
  height: 4em;
  border-radius: 5px;
  background-color: $light-grey;
  color: $white;
  @extend %main-font;
  font-weight: $font-weight--bold;
  letter-spacing: 1px;
  float: right;
}

.error--box {
  height: 5em;
}



.ui-autocomplete {
max-height: 100px;
width: 5em;
overflow-y: auto;
border-left: 1px solid black;
border-bottom: 1px solid black;
border-right: 1px solid black;
background-color: white;
@extend %main-font;
text-align: left;
padding: 0;
font-weight: $font-weight--medium;
font-size: .85em;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
